<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>The Hockey Archive</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <nav class="nav">
            <h2>The Hockey Archive</h2>
            <a class="active" href="index.html">Home</a>
            <a href="players.html">Players</a>
            <a href="teams.html">Teams</a>
            <a href="games.html">Games</a>
            <a href="stats.html">Stats</a>
    </nav>
    

    <div id="title">
        <h1>The Hockey Archive</h1>
        <p>Find Historical Data and Stats for Teams, Players, Coaches, Leagues and Championships</p>
    </div>
</body>
</html>